<%_
const pageID = 'page2';
const breadcrumbList = ['top', pageID];
_%>
<%- include(`${relativePath}_partials/_meta`, {id: pageID, stylesheet: [pageID]}) _%>
<%- include(`${relativePath}_partials/_global_header`, {id: pageID}) _%>
<%- include(`${relativePath}_partials/_global_nav`, {id: pageID}) _%>
<%- include(`${relativePath}_partials/_breadcrumb`, {breadcrumbList: breadcrumbList}) _%>
<main>
  <p><%= pageList[pageID].discription %></p>
</main>
<%- include(`${relativePath}_partials/_global_footer`) _%>
<%- include(`${relativePath}_partials/_scripts`, {script: [pageID]}) _%>
<%- include(`${relativePath}_partials/_json_ld`, {breadcrumbList: breadcrumbList}) _%>
</body>
</html>