<%_
const pageID = 'top';
_%>
<%- include(`${relativePath}_partials/_meta`, {id: pageID, stylesheet: [pageID]}) _%>
<%- include(`${relativePath}_partials/_global_header`, {id: pageID}) _%>
<%- include(`${relativePath}_partials/_global_nav`, {id: pageID}) _%>
<main>
  <p><%= pageList[pageID].discription %></p>
</main>
<%- include(`${relativePath}_partials/_global_footer`) _%>
<%- include(`${relativePath}_partials/_scripts`, {script: [pageID]}) _%>
</body>
</html>
