<nav aria-label="Breadcrumb" class="breadcrumb">
  <h2>パンくずリスト</h2>
  <ol>
    <%_
    breadcrumbList.forEach((item, i) => {
      if(breadcrumbList.length === ++i) {
    _%>
      <li aria-current="page"><%= pageList[item].title %></li>
    <%_ } else { _%>
      <li><a href="<%- pageList[item].url %>"><%= pageList[item].title %></a></li>
    <%_
      }
    });
    _%>
  </ol>
</nav>
<script type="application/ld+json">
  [{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":[
      <%_ breadcrumbList.forEach((item, i) => { _%>
        {
          "@type": "ListItem",
          "position": <%- ++i %>,
          "item":{
            "@id": "<%- conf.siteURL %><%- pageList[item].url %>",
            "name": "<%- pageList[item].title %>"
          }
        }<%_ if(breadcrumbList.length === ++i) { _%>,<%_ } _%>
      <%_ }); _%>
    ]
  }]
</script>
